.nav-container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.header-heading {
  font-family: HK Grotesk;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #f8fafc;
}
.nav-logo {
  text-decoration: none;
}

.header-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 40%;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  font-family: HK Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}

/* Highlight active page */
.nav-link.active {
  color: #3b82f6;
}
