.nav-container {
  width: 1140px;
  height: 32px;
  top: 32px;
  left: 150px;
  angle: 0 deg;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  /* border: solid white; */
  margin-bottom: 60px;
}
.header-heading {
  width: 259;
  height: 32;
  top: 32px;
  left: 150px;
  angle: 0 deg;
  opacity: 1;
  font-family: HK Grotesk;
  font-weight: 700;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
  color: #f8fafc;
}
.hearer-list {
  width: 40%;
  display: flex;
  justify-content: space-around;
  /* border: solid white; */
  list-style-type: none;
  margin-bottom: 10px;
}
.home {
  width: 43px;
  height: 24px;
  top: 36px;
  left: 1032px;
  angle: 0 deg;
  opacity: 1;
  font-family: HK Grotesk;
  font-weight: 700;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  color: #3b82f6;
}
.repositories {
  width: 88px;
  height: 24px;
  top: 36px;
  left: 1110px;
  angle: 0 deg;
  opacity: 1;
  font-family: HK Grotesk;
  font-weight: 700;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  color: #f8fafc;
}
.analysis {
  width: 60px;
  height: 24px;
  top: 36px;
  left: 1230px;
  angle: 0 deg;
  opacity: 1;
  font-family: HK Grotesk;
  font-weight: 700;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  color: #f8fafc;
}
